@CHARSET "UTF-8";

body
{
  background-color: #fff;
  text-align: center;
  margin: 0px auto;
  color: #2D313D;
}

div
{
  width: 1000px;
  margin: 0px auto;
  background-color: #eee;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 50px;
}

a:link
{
	color: #2D408D;
	text-decoration:none;
}

a:visited
{
	color: #72859C;
	text-decoration:none;
}

a:focus
{
	color: red;
	text-decoration:underline;
}

a:hover
{
	color: #2146D9;
	text-decoration:none;
}

a:active
{
	color: #8D3A2F;
	text-decoration:underline;
}

div.section
{
	width: 900px;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  border-style: none;
}

div.code
{
	width: 800px;
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
}

code i.sw
{
  color: #7e1600;
  font-style: normal;
  font-weight: bold;
}

code i.fd
{
  font-style: normal;
  font-weight: bold;
}

code i.tn
{
  font-style: normal;
  color: #1f6a40;
}

code i.m
{
  font-style: normal;
  color: #1731b0;
}

h1
{
  text-align: left;
  font-size: 16pt;
}

h2
{
  text-align: left;
  margin-top: 50px;
  font-size: 14pt;
}