@CHARSET "UTF-8";

td.menu
{
  vertical-align: top;
}

table.menu
{
  margin-top: 50px;
  margin-left: 20px;
  padding: 5px;
  width: 200px;
}

table.menu td.item
{
  background-color: #eee;
  text-align: center;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 10pt;
}

table.menu td.item a:link
{
  color: #222;
  text-decoration:none;
}

table.menu td.item a:visited
{
  text-decoration:none;
  color: #777;
}

table.menu td.item a:focus
{
  color: red;
  text-decoration:underline;
}

table.menu td.item a:hover
{
  color: #aaa;
  text-decoration:none;
}

table.menu td.item a:active
{
  color: #ccc;
  text-decoration:underline;
}
